<div class="card">
  <div class="card-header">
    <h5>APUESTAS DEL DÍA</h5>
  </div>
  <div class="card-body">
    <div class="row colinfo">
      <div class="col-sm-2">
        <div class="card info">
          <div class="card-header">
            TOTALES
          </div>
          <div class="card-body text-center">
            5
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card info">
          <div class="card-header">
            PENDIENTES
          </div>
          <div class="card-body text-center">
            5
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card info">
          <div class="card-header">
            GANADAS
          </div>
          <div class="card-body text-center">
            5
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card info">
          <div class="card-header">
            PERDIDAS
          </div>
          <div class="card-body text-center">
            5
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card info">
          <div class="card-header">
            OTRAS
          </div>
          <div class="card-body text-center">
            5
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <div class="card info">
          <div class="card-header">
            € TOTAL
          </div>
          <div class="card-body text-center">
            5
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card info">
          <div class="card-header">
            € GANADO
          </div>
          <div class="card-body text-center">
            5
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card info">
          <div class="card-header">
            € PERDIDO
          </div>
          <div class="card-body text-center">
            5
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card info">
          <div class="card-header">
            € POTENCIAL
          </div> 
          <div class="card-body text-center">
            5
          </div>
        </div>
      </div>
      <div class="col-sm-2 colinfo">
        <div class="card info">
          <div class="card-header">
            € GANANCIA
          </div>
          <div class="card-body">
            5
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
