<div class="row botonera">
  <div class="col-sm-10">

      <mat-form-field>
        <input 
                matInput [matDatepicker]="picker1" 
                placeholder="Fecha apuestas" 
                [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <button 
              id="btnIrFecha"
              class="btn btn-outline-secondary btn-sm"
              (click)="cambiarFecha()"
              >
              <fa-icon [icon]="iconBtnVer"></fa-icon>
      </button>
  </div>
  <div class="col-sm-2 text-right">
      <button type="button" class="btn btn-outline-secondary" (click)="abrirModal()">Crear Apuesta</button>
  </div>
</div>

<table datatable *ngIf="lstApuestas" class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Fecha</th>
      <th>Descripción</th>
      <th>Apuesta</th>
      <th>Tipster</th>
      <th>Casa</th>
      <th>Cuota</th>
      <th>Importe</th>
      <th>Resultado</th>
      <th>Ganancia</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let apuesta of lstApuestas">
      <td>{{apuesta?.id}}</td>
      <td>{{apuesta?.fechaEvento}}</td>
      <td>{{apuesta?.descripcion}}</td>
      <td>{{apuesta?.apuesta}}</td>
      <td>{{apuesta?.tipster.descripcion}}</td>
      <td>
        <img  
              src="assets/img/{{apuesta.casa.descripcion}}.jpg" 
              alt="{{apuesta.casa.descripcion}}">
      </td>
      <td>{{apuesta?.cuota}}</td>
      <td>{{apuesta?.importe | currency:'EUR':'symbol':'1.2-2':'es'}}</td>
      <td><span class="badge" 
                [ngClass]="{
                  'badge-secondary': apuesta.estado.id < 3,
                  'badge-success': apuesta.estado.id === 3,
                  'badge-danger': apuesta.estado.id === 4,
                  'badge-warning': apuesta.estado.id > 4
                }">
                {{apuesta?.estado.descripcion}}
          </span>
      </td>
      <td>{{apuesta?.ganancia | currency:'EUR':'symbol':'1.2-2':'es'}}</td>
      <td>
        <div class="btn-group dropleft">
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Opciones
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Editar</a>
            <a class="dropdown-item" (click)="eliminarApuesta(apuesta.id)">Eliminar</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Cerrar</a>
            <a class="dropdown-item" (click)="actualizarEstado(apuesta.id,3)">Ganada</a>
            <a class="dropdown-item" (click)="actualizarEstado(apuesta.id,4)">Perdida</a>
            <a class="dropdown-item" (click)="actualizarEstado(apuesta.id,8)">Push</a>
            <a class="dropdown-item" (click)="actualizarEstado(apuesta.id,5)">Suspendida</a>
            <a class="dropdown-item" (click)="actualizarEstado(apuesta.id,6)">Cancelada</a>
            <a class="dropdown-item" (click)="actualizarEstadoParcial(apuesta.id)">Parcial</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-sm-10 text-right">
    <b>Total:</b>
  </div>
  <div class="col-sm-2 text-right">
    <span *ngIf="totalApuestas > 0" class="badge badge-total badge-success">
      <b>{{totalApuestas | currency:'EUR':'symbol':'1.2-2':'es'}}</b>
    </span>
    <span *ngIf="totalApuestas < 0" class="badge badge-total badge-danger">
      <b>{{totalApuestas | currency:'EUR':'symbol':'1.2-2':'es'}}</b>
    </span>
    <span *ngIf="totalApuestas == 0" class="badge badge-total badge-warning">
      <b>{{totalApuestas | currency:'EUR':'symbol':'1.2-2':'es'}}</b>
    </span>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="mdlApuesta">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Apuesta Modal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #apuestaForm="ngForm">
              <mat-form-field>
                    <input matInput [(ngModel)]="apuesta.fechaEvento" 
                            name="fecha" 
                            placeholder="Fecha evento">
              </mat-form-field>

              <div class="form-group row">
                <label for="descripcion" class="col-form-label col-sm-3">Descripción</label>
                <div class="col-sm-9">
                    <input type="text" 
                            class="form-control" 
                            [(ngModel)]="apuesta.descripcion"
                            oninput="this.value = this.value.toUpperCase()" 
                            name="descripcion">
                </div>
              </div>
              <div class="form-group row">
                <label for="tipo" class="col-form-label col-sm-3">Tipo</label>
                <div class="col-sm-9">
                  <select     class="form-control" 
                              [(ngModel)]="apuesta.tipo" 
                              name="tipo" 
                              >
                      <option [ngValue]="undefined">--- Seleccionar tipo ---</option>
                      <option *ngFor="let tipo of lstTipos" [ngValue]="tipo">{{tipo.descripcion}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="apuesta" class="col-form-label col-sm-3">Apuesta</label>
                <div class="col-sm-9">
                    <input type="text" 
                            class="form-control" 
                            [(ngModel)]="apuesta.apuesta" 
                            oninput="this.value = this.value.toUpperCase()"
                            name="apuesta">
                </div>
              </div>
              <div class="form-group row">
                <label for="tipster" class="col-form-label col-sm-3">Tipster</label>
                <div class="col-sm-9">
                  <select     class="form-control" 
                              [(ngModel)]="apuesta.tipster" 
                              name="tipster" 
                             >
                      <option [ngValue]="undefined">--- Seleccionar tipster ---</option>
                      <option *ngFor="let tipster of lstTipsters" [ngValue]="tipster">{{tipster.descripcion}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="casa" class="col-form-label col-sm-3">Casa</label>
                <div class="col-sm-9">
                  <select     class="form-control" 
                              [(ngModel)]="apuesta.casa" 
                              name="casa" 
                              >
                      <option [ngValue]="undefined">--- Seleccionar casa ---</option>
                      <option *ngFor="let casa of lstCasas" [ngValue]="casa">{{casa.descripcion}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="deporte" class="col-form-label col-sm-3">Deporte</label>
                <div class="col-sm-9">
                  <select     class="form-control" 
                              name="deporte" 
                              (change)="cargarTorneos($event.target.value)"
                              >
                      <option *ngFor="let deporte of lstDeportes" [value]="deporte.id">{{deporte.descripcion}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="torneo" class="col-form-label col-sm-3">Torneo</label>
                <div class="col-sm-9">
                  <select     class="form-control" 
                              [(ngModel)]="apuesta.torneo" 
                              name="torneo" 
                              >
                      <option [ngValue]="undefined">--- Seleccionar torneo ---</option>
                      <option *ngFor="let torneo of lstTorneos" [ngValue]="torneo">{{torneo.descripcion}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="cuota" class="col-form-label col-sm-3">Cuota</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" [(ngModel)]="apuesta.cuota" name="cuota">
                </div>
              </div>
              <div class="form-group row">
                <label for="importe" class="col-form-label col-sm-3">Importe</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" [(ngModel)]="apuesta.importe" name="importe">
                </div>
              </div>
              <div class="form-group row">
                <label for="stake" class="col-form-label col-sm-3">Stake</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" [(ngModel)]="apuesta.stake" name="stake">
                </div>
              </div>
              <div class="form-group row">
                <label for="estado" class="col-form-label col-sm-3">Estado</label>
                <div class="col-sm-9">
                  <select     class="form-control" 
                              [(ngModel)]="apuesta.estado" 
                              name="estado" 
                              >
                      <option [ngValue]="undefined">--- Seleccionar estado ---</option>
                      <option *ngFor="let estado of lstEstados" [ngValue]="estado">{{estado.descripcion}}</option>
                  </select>
                </div>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary"  (click)="create()">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="mdlApuestaParcial">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Apuesta Parcial</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #apuestaParcialForm="ngForm">
            <div class="form-group row">
                <label for="importe" class="col-form-label col-sm-3">Importe</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" [(ngModel)]="importeParcial" name="importeParcial">
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary"  (click)="actualizarEstadoParcialExe()">Actualizar</button>
        </div>
      </div>
    </div>
  </div>
