
<div class="card">
  <h5 class="card-header">INFORMACIÓN GENERAL</h5>
  <div class="card-body">
    <h5 class="card-title">{{tipster?.descripcion}}</h5>
    <p class="card-text">{{tipster?.url}}</p>
    <p class="card-text">{{tipster?.telegram}}</p>
  </div>
</div>

<div class="card">
    <h5 class="card-header">ESTADISTICAS</h5>
    <div class="card-body">
      <h5 class="card-title">{{tipster?.descripcion}}</h5>
      <p class="card-text">{{tipster?.url}}</p>
      <p class="card-text">{{tipster?.telegram}}</p>
    </div>
  </div>
